<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>IBMPlexSans_Condensed-Bold.ttf</string>
		<string>IBMPlexSans_Condensed-BoldItalic.ttf</string>
		<string>IBMPlexSans_Condensed-ExtraLight.ttf</string>
		<string>IBMPlexSans_Condensed-ExtraLightItalic.ttf</string>
		<string>IBMPlexSans_Condensed-Italic.ttf</string>
		<string>IBMPlexSans_Condensed-Light.ttf</string>
		<string>IBMPlexSans_Condensed-LightItalic.ttf</string>
		<string>IBMPlexSans_Condensed-Medium.ttf</string>
		<string>IBMPlexSans_Condensed-MediumItalic.ttf</string>
		<string>IBMPlexSans_Condensed-Regular.ttf</string>
		<string>IBMPlexSans_Condensed-SemiBold.ttf</string>
		<string>IBMPlexSans_Condensed-SemiBoldItalic.ttf</string>
		<string>IBMPlexSans_Condensed-Thin.ttf</string>
		<string>IBMPlexSans_Condensed-ThinItalic.ttf</string>
		<string>IBMPlexSans_SemiCondensed-Bold.ttf</string>
		<string>IBMPlexSans_SemiCondensed-BoldItalic.ttf</string>
		<string>IBMPlexSans_SemiCondensed-ExtraLight.ttf</string>
		<string>IBMPlexSans_SemiCondensed-ExtraLightItalic.ttf</string>
		<string>IBMPlexSans_SemiCondensed-Italic.ttf</string>
		<string>IBMPlexSans_SemiCondensed-Light.ttf</string>
		<string>IBMPlexSans_SemiCondensed-LightItalic.ttf</string>
		<string>IBMPlexSans_SemiCondensed-Medium.ttf</string>
		<string>IBMPlexSans_SemiCondensed-MediumItalic.ttf</string>
		<string>IBMPlexSans_SemiCondensed-Regular.ttf</string>
		<string>IBMPlexSans_SemiCondensed-SemiBold.ttf</string>
		<string>IBMPlexSans_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>IBMPlexSans_SemiCondensed-Thin.ttf</string>
		<string>IBMPlexSans_SemiCondensed-ThinItalic.ttf</string>
		<string>IBMPlexSans-Bold.ttf</string>
		<string>IBMPlexSans-BoldItalic.ttf</string>
		<string>IBMPlexSans-ExtraLight.ttf</string>
		<string>IBMPlexSans-ExtraLightItalic.ttf</string>
		<string>IBMPlexSans-Italic.ttf</string>
		<string>IBMPlexSans-Light.ttf</string>
		<string>IBMPlexSans-LightItalic.ttf</string>
		<string>IBMPlexSans-Medium.ttf</string>
		<string>IBMPlexSans-MediumItalic.ttf</string>
		<string>IBMPlexSans-Regular.ttf</string>
		<string>IBMPlexSans-SemiBold.ttf</string>
		<string>IBMPlexSans-SemiBoldItalic.ttf</string>
		<string>IBMPlexSans-Thin.ttf</string>
		<string>IBMPlexSans-ThinItalic.ttf</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
